.non-bullet {
    list-style: none;
    text-align: center;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
    
}
 .footer{
    background-color: burlywood;
    text-align: center;
    padding: 0.5rem 0rem;
    padding-inline-start: 0px;
    color: darkblue;
    margin:0px
 }

 .nav{
     background-color: burlywood;
     text-align: center;
     color: darkblue;
     padding: 2rem 0rem;
     padding-inline-start: 0px;
     margin:0px;

     

 }
